html {background-color: black;}
html , body {
    height: 100%;
    margin: 0;    
}
h1,h2,p{margin: 0;}
body {
    font-family: 'Roboto', sans-serif;
}

.part1 , .part2 , .part3 , .part4 , .footer{
    width: 1450px;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    flex: auto;
}

a {
    text-decoration: none;
    color:#E5E7EB;
}

.part1 {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;
    min-height: 530px;
}


.links {
    display: flex;
    gap: 20px;
}

.part1 > .header {
    display: flex;
    align-items: center;
    padding: 0 200px 70px 200px;
}

.sign_up {
    display: flex;
    padding: 0 200px 0 200px;
}

.sign_up > .text {
    flex: 1 1 150px;
    padding: 0 40px 0 0;
}

.sign_up > .text > h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.sign_up > .text > p , li {
    font-size: 18px;
    color: #E5E7EB;
    padding: 10px 0 10px 0;
}

.part1 > .header > h1 {
    font-size: 24px;
    color: #F9FAF8;
}

.part1 > .sign_up > .text > .button {
    flex: 1 1 130px;
    height: 30px;
}

.part1 > .sign_up > .text > .button > button {
    border: #3882F6 solid;
    color: white;
    background-color: #3882F6;
    width: 125px;
    height: 35px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: none;
}


.image {
    flex: 1 1 auto;
    width: 520px;
    height: 240px;
}

img {
    width: 520px;
    height: 240px;
    padding: 0 0 0 100px;
}

.card {
    width: 160px;
    height: 160px;
    border: #3882F6 solid;
    border-radius: 10px;
}

figcaption {
    width: 160px;
    text-align: center;
}

.part2 {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    background-color: white;
    min-height: 500px;
}

.part2 > .header {
    text-align: center;
    padding: 50px 0 50px 0;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

button {
    color: #3882F6;
}

.part2 > .header > h1 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.part3 {
    flex: 1 1 auto;
    background-color: #E5E7EB;
    min-height: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.contain {
    flex: 0 1 800px;
    min-width: 800px;
    display: flex;
    flex-direction: column;
}

.quote {
    flex: auto;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

.author {
    flex: auto;
    display: flex;
    justify-content: flex-end;
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
}

.author > p {
    margin-top: 0;
}

.part4 {
    flex: 1 1 auto;
    background-color: white;
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue_box {
    width: 800px;
    height: 140px;
    background-color:#3882F6;
    padding: 5px 100px 5px 100px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    color:white;
}

.blue_box > .text {
    flex: auto;
}

.blue_box > .button {
    flex: 1 1 130px;
    display: flex;
    justify-content: flex-end;
}

.blue_box > .button > button {
    border-color: white;
    color: white;
    background-color: #3882F6;
    width: 125px;
    height: 35px;
    border-radius: 10px;
    border: white solid;
    border-width: 2px;
    font-size: 18px;
    font-weight: bold;
}


.footer {
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    min-height: 100px;
}

.footer > p {
    height: 20px;
    color: white;
}